.popup {
  display: flex;
  transition: visibility 0.5s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
