.profile__edit-button {
  height: 24px;
  width: 24px;
  border: 1px solid white;
  margin: 15px auto 0 18px;
  padding: 0;
  background-color: transparent;
  transition: 0.5s;
}
.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }
}
