.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  box-sizing: content-box;
  max-width: calc(100% - 42px);
  margin: 0 0 8px 0px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 775px) {
  .profile__name {
    max-width: calc(100% - 31px);
    font-size: 22px;
    margin: 0 0 11px 0;
  }
}
