.profile__bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 30px;
  padding: 0;
  min-width: 282px;
  max-width: 548px;
}
@media screen and (max-width: 775px) {
  .profile__bio {
    margin: 30px auto 33px;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  .profile__bio {
    width: 282px;
  }
}
