.profile__career {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 775px) {
  .profile__career {
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .profile__career {
    font-size: 14px;
  }
}
